html{
margin:0px !important;
}

@font-face{ 
	font-family: 'FeijoaWeb-Display';
	src: url('webfonts/FeijoaWeb-Display.eot');
	src: url('webfonts/FeijoaWeb-Display.eot?#iefix') format('embedded-opentype'),
	     url('webfonts/FeijoaWeb-Display.woff') format('woff'),
	     url('webfonts/FeijoaWeb-Display.ttf') format('truetype'),
	     url('webfonts/FeijoaWeb-Display.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'FeijoaWeb-Medium';
	src: url('webfonts/FeijoaWeb-Medium.eot');
	src: url('webfonts/FeijoaWeb-Medium.eot?#iefix') format('embedded-opentype'),
	     url('webfonts/FeijoaWeb-Medium.woff') format('woff'),
	     url('webfonts/FeijoaWeb-Medium.ttf') format('truetype'),
	     url('webfonts/FeijoaWeb-Medium.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'FeijoaWeb-MediumItalic';
	src: url('webfonts/FeijoaWeb-MediumItalic.eot');
	src: url('webfonts/FeijoaWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
	     url('webfonts/FeijoaWeb-MediumItalic.woff') format('woff'),
	     url('webfonts/FeijoaWeb-MediumItalic.ttf') format('truetype'),
	     url('webfonts/FeijoaWeb-MediumItalic.svg#webfont') format('svg');
}


body{
font-family: 'FeijoaWeb-Medium', serif;
padding: 0px;
/*background: -webkit-linear-gradient(#FFF, #F5F5F1);*/
background: #FFF;
font-size: 18px;
}


.header{
text-align:center;
padding-bottom: 40px;
font-family: 'FeijoaWeb-Medium', serif;
padding-top:40px;
border-bottom:1px solid #CCC;
}

.header h1 a{
color: black;
font-variant: small-caps;
letter-spacing: 1.5em;
}

.headerimg{
margin-top:20px;
}

.header h2{
font-family: 'FeijoaWeb-Medium', serif;
font-style: itali9c;
letter-spacing: .1em;
padding-bottom: 0px;
font-size: 1em;
line-height: 1.2em;
margin-top: 0;
font-variant: small-caps;
}

.nav{
font-family: 'FeijoaWeb-Medium', serif;
font-size: 1em;
letter-spacing: 0.1em;
}



.menu select {
border: 1px solid red;
}


ul{
text-align:center;
/*border-top:1px solid #EEE;*/
/*border-bottom:1px solid #EEE;*/
margin-top:0px;
padding: 0;

}

ul#menu-main-menu{
padding: 0px !important;
margin-top: 40px;
margin-bottom: 40px;
}

li.main-nav, li.menu-item{
float:none;
display:inline-block;
font-size: 0.9em;
}

.nav-pills>li>a, .menu-item a{
color:black;
border-radius:0px;
padding:5px 10px;
margin:10px;
border: 1px solid white;
}

.menu-item a:hover{
border: 1px solid black;
}

.current-menu-item a{
color: #707070;
border: 1px dashed #CCC;
}

.menu-item-453 a{
background: none;
}

.menu-item-453 a:before{

}

.menu-item-453 a:hover{
border: 1px solid black;
}


.sm-caps{
font-variant: small-caps;
}

.row{
margin: 0 auto;
}

.divider{
border-bottom: 1px solid #CCC;
}

.piece{
max-width: 1400px;
padding-left: 40px;
padding-right: 40px;
margin-top: 60px;
}

#container{
width:100%;
background:white;
}

#grid{
visibility:hidden;
}

#grid.masonry{
visibility:visible;
max-width:1600px;
margin: 0 auto;
}

.item{
border: 1px solid #FFF;
}

.item:hover{
border: 1px solid #bbd2b4; 
z-index: 1000;
box-shadow: 0px 0px 40px #EEE;
}

.item .title{
position: absolute;
top: 50%;
margin: 0 auto;
width: 100%;
text-align: center;
font-variant: small-caps;
}


a:hover {text-decoration:none; }


.piece .frame{
margin: 0 auto;
background: white;
box-shadow: 0px 0px 20px #CCC;
border: 10px solid #000;
margin-bottom: 20px;
text-align: center;
color: #888;
margin: 10px;
}


.item img{
width:100%;
}

.link a{
padding: 40px;
border: 1px solid black;
display:block;
text-align:center;
font-size: 1em;
font-variant: small-caps; 
color: black;
padding-top: 100px;
padding-bottom: 100px;
display:none;
}


.col-lg-7{
padding-right: 40px;
}

.piece h3{
font-variant: small-caps;
letter-spacing: .1em;
font-size: 1.4em;
margin-top:20px;
}

.piece blockquote{
font-size: 0.9em;
color: #707070;
margin:0;
padding:0;
border:0;
font-family: 'FeijoaWeb-MediumItalic', serif;
margin-top: 40px;
}

.piece p{
line-height: 1.8em;
margin-top:25px;
}

.continue{
font-size: 1.0em;
font-variant: small-caps;
margin-top: 40px;
margin-bottom: 40px;
text-align:center;
}

ul.continue{
text-align: center;
}


.continue li{
display:inline-block;
margin-top: 40px;
}

.continue li a{
border: 0px solid black;
padding: 10px;
margin-bottom: 40px;
background: black;
color: white;
border-radius: 3px;
}

.continue li a:hover{
background: #bbd2b4;
color: black;
}


.btn{
margin-top:0px;
padding:10px 20px;
font-variant: small-caps;
border: 0px solid black;
background: black;
color: white;
}


.btn:hover{
background: #bbd2b4;
}

.table{
font-size:0.9em;
margin-top: 30px;
border-top: 2px solid #999;
/* display:none;*/
}


.related h4{
text-align:center;
font-size: 1.2em;
margin-top: 50px;
margin-bottom: 50px;
font-family: 'FeijoaWeb-MediumItalic';
}

#custom-page{
margin: 0 auto;
padding-bottom: 160px;
}

#custom-page h1{
font-family: 'FeijoaWeb-Display';
font-size: 2.4em;
margin-bottom: 40px;
margin-top: 60px;
}

#custom-page.article h1{
font-family: 'FeijoaWeb-Display';
font-size: 2.4em;
margin-bottom: 40px;
margin-top: 60px;
text-align:center;
}

#custom-page h2{
font-variant: small-caps;
letter-spacing: .1em;
font-size: 1.4em;
margin-bottom: 40px;
margin-top: 60px;
}

#custom-page h3{
font-variant: small-caps;
letter-spacing: .1em;
font-size: 1.2em;
margin-bottom: 30px;
margin-top: 80px;
font-weight: bold;
padding-bottom: 0px;
border-bottom: 0px dashed #DDD;
}

#custom-page p, #custom-page ol{
line-height: 1.8em;
margin-bottom: 30px;
}


#custom-page a, blockquote a{
font-variant: small-caps;
font-weight:bold;
border-bottom: 1px solid;
}

#custom-page a:hover{
color: black;
text-decoration:none;
border-bottom: 0px solid;
}

.price{
font-size:2em;
}

#footer{
	display:block;
	padding: 20px;
	padding-top: 100px;
	color: #CCC;
	font-size: 0.8em;
	text-align:center;
	
}

.footermenu li{
margin-bottom: 20px;
}

.footermenu .menu-item a{
color:#CCC;
border: 0;
font-size: 0.8em;
margin-bottom: 10px;
text-decoration: underline;
}

.footermenu .menu-item a:hover{
color:black;
border: 0;
text-decoration: none;
}

figure{
margin-bottom:50px;
}

figcaption{
color: #666;
font-size: 0.8em
}


blockquote{
font-size:1em;
font-family: 'FeijoaWeb-MediumItalic', serif;
margin-left: 40px;
padding-bottom: 5px;
}

.fa-external-link{
margin-left: 10px;
}

.fa-instagram, i{
margin-right: 10px;
}

.story:first-letter{
    font-size: 3.5em;
    float: left;
    padding-bottom: 0px;
	line-height: 1em;
	margin-right: 5px;
	font-variant: small-caps;
}

.dropcap{
font-size: 4.3em;
float: left;
padding-bottom: 0px;
line-height: 1em;
margin-right: 5px;
font-variant: normal;
}

table.productdetails{
border-bottom: 0px dashed #999;
}

table.productdetails td{
padding-left: 0 !important;
}


table.productdetails a{
color: black;
border-bottom: 1px dotted #707070;
}

table.productdetails a:hover{
color: black;
border-bottom: 0px dotted black;
}

.currency{
padding-left: 5px;
font-size: 0.8em;
color: #707070;
}

/* feature image for a print */
.main{
padding: 20px;
margin: 0 auto;
box-shadow: 0px 0px 3px #CCC;
margin-bottom:30px;
}

/* images for an article */

.article .main{
padding: 0px;
margin: 0 auto;
box-shadow: none;
margin-bottom:30px;

}

.sm-caps{
font-variant: sm-caps;
}

.related{
margin-top:40px;
}

.outofstock{
border: 0px dotted #CCC;
padding: 8px;
padding-left: 0px;
padding-right: 12px;
border-radius: 5px;
font-variant: small-caps;
color: #707070;
}

.notifyme{
padding: 8px;
padding-left: 0px;
padding-right: 12px;
border-radius: 5px;
font-variant: small-caps;
}

.circular-image{
 width: 150px;
 height: 150px;
 -webkit-border-radius: 75px;
 -moz-border-radius: 75px;
 -ms-border-radius: 75px;
 -o-border-radius: 75px;
  border-radius: 75px;
}


.book{
padding-bottom: 50px;
}


.section{
padding-top: 100px;
padding-bottom: 100px;
font-family: 'FeijoaWeb-Display';
text-align:center;
max-width:1600px;
padding-left:20px;
padding-right:20px;
}

.section-title{
margin-bottom:35px;
text-align:center;
}

span.title-metadata{
font-family: 'FeijoaWeb-MediumItalic';
color: #707070;
margin-left: 8px;
}

.coming-soon{
opacity:1;
}

.coming-soon:hover{
opacity:0.3;
}

.coming-soon-label{
position:absolute;
top: 20px;
border-left: 1px solid white;
opacity:1;
background: red;
padding: 15px 25px 15px 25px;
text-transform: uppercase;
font-size:0.8em;
color: white;
letter-spacing: 0.3em;
}

	
/* Styles specifically for the feature banner */
	
	.banner .feature{
	width: 100%;
	border: 1px solid #EEE;
	}
	

	.banner img{
	}

	.banner h2{
	 font-size: 25px;
	}
	
	.banner .img-link{
	display:block;
	background:none;
	border:5px solid white;
	}
	
	.banner .img-link:hover{
	border: 5px solid #bbd2b4; 
	z-index: 1000;
	box-shadow: 0px 0px 40px #EEE;
	}

	.banner h3{
	font-size: 0.8em;
	letter-spacing:0.025em;
	color: #707070;
	text-transform: uppercase;
	font-family: 'FeijoaWeb-MediumItalic';
	}
	
	.banner p{
	font-family: "FeijoaWeb-Medium";
	font-size: 16px;
	color: #333;
	margin-top: 20px;
	display:none;
	}

	.banner .price{
	font-style: normal;
	font-size:1.2em;
	}

	.banner a.button{
	display: none;
	border: 0px solid black;
	padding: 12px 25px;
	margin-bottom: 40px;
	background: #e30000;
	color: white;
	text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 0.2em;
    font-size: 12px;
	}
	
	.banner a:hover{
	background: black;
	}
	
	

	/* END Styles specifically for the feature banner */


.relatedarticle{
display:inline-block;
margin-bottom:60px;
}

.relatedarticle img{
width: 100%;
padding: 0px 0px 20px 0px;
}

.relatedarticle a:hover img{
opacity:0.5;
}






/* START Mobile Definitions */

@media screen and (max-width: 768px) {
  /* 2 columns for smaller screens */
  .grid-sizer {width:50%;}
  .item {width: 50%}
  .item.w2 {width:50%}
  
  .piece h3{
	margin-top:40px;
	}
	
	.header h1 a{
	color: red;
	}

	.headerimg{
	margin-top:0px;	
	width: 250px;
	}
	
	
	.piece{
	padding: 0px;
	}
	
   #custom-page{
   width: 95%;
   margin:0 auto;
	}
	
	#custom-page.article p, #custom-page .article ul, #custom-page.article ol, #custom-page.article a  {
	font-size: 16px;
	line-height: 1.6em;
	}
	
	#custom-page.article h1{
	font-size:1.8em
	}
	
	
	ul#menu-main-menu{
	display:none;
	}
	
	ul#menu-mobile-menu {
	display:block;
	border-top: 1px dashed #CCC;
	border-bottom:0;
	}
	
	#menu-mobile-menu li{
	display:block;
	border-bottom: 1px dashed #CCC;
	}
	
	#menu-mobile-menu a{
	padding:15px;
	padding-left: 30px;
	padding-right: 30px;
	display:block;
	margin:0px;
	border-bottom:0px solid #CCC;
	}
	
	#menu-mobile-menu li:hover{
	background: #bbd2b4;
	}
	
	#menu-mobile-menu .current-menu-item{
	background: none;
	color: white;
	}
	
	#menu-mobile-menu a{
	border:none;
	}
	
	.banner{
	text-align:center;
	padding: 40px 20px 50px 20px;
	margin: 0;
	}	
	
}

/* ---- END Mobile Definitions */



@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer {width:20%;} 
  .gutter-sizer {width:80%;}
  .item {width:20%;}
  .item.w2 {width:40%}
  
  #custom-page{
   max-width: 720px;
   margin:0 auto;
   
   }
   
   #custom-page.article p, #custom-page .article ul, #custom-page.article ol, #custom-page.article a  {
	font-size: 20px;
	line-height: 1.9em;
	}
   
   .headerimg{
	margin-top:0px;	
	width: 350px;
	}
   
	.portait{
   max-width: 1400px;
   padding-right: 0px;
   }
   
   .portait .main{
   margin: 0 auto;
   }
   
   	
	ul#menu-mobile-menu{
	display:none;
	}
	
	ul#menu-main-menu, .nav{
	display: block;
	}
	
	   
}

@media screen and (min-width: 1800px) {
  /* 5 columns for larger screens */
  .grid-sizer {width:20%;}
  .item { width: 20%;}
  .item.w2 {width:40%}
  #custom-page{
   width: 70%;
   margin:0 auto;
   }
   
   	
	ul#menu-mobile-menu{
	display:none;
	}
	
	#menu-main-menu{
	display:inline;
	}
		

}

.wp_cart_variation_section{
padding:0px;
padding-left: 0px;
padding-top: 0;
margin-bottom: 5px;
color: #707070;
font-size: 0.9em;
}

.wp_cart_variation_name{
display: inline-block;
margin-bottom: 5px;
}


.wp_cart_variation_section select{
display:block;
}


/* START MailChimp */

#mc_embed_signup form{
padding: 0px;
}

#mc_embed_signup, #mc_embed_signup input{
background:#fff; 
}



#mc_embed_signup input.email {
padding: 8px;
font-size: 14px;
}

#mc_embed_signup input.button{
background: black;
margin-top: 10px;
width: auto;
height: auto;
padding: 12px;
font-size: 1em;
line-height: 1em;
font-variant: small-caps;
}

#mc_embed_signup label{
padding: 0;
margin:0;
font-variant: small-caps;
}

#mc_embed_signup p{
font-variant: normal;
}


/*shopping cart styles*/
.wp-cart-button-form input{
width: 154px !important;
}

.shopping_cart{
margin:0;
padding:0;
font-size: 1em;
}

.shopping_cart h2{
display:none;
}

.shopping_cart table th{
font-variant:small-caps;
padding-bottom: 10px;
}

.shopping_cart table tr{
border-bottom: 1px solid black;

}

.shopping_cart table td{
padding-top: 8px;
padding-bottom: 8px;
vertical-align: top;
border-top: 1px solid #ddd;

}

.wp_cart_empty_cart_section{
margin-bottom: 20px;
}

#custom-page .wp_cart_item_name a{
text-decoration: none;
}

#pinfo{
display:block;
margin-bottom: 10px;
padding-bottom: 10px;
color: green !important;
font-size: 1em;
}

.shopping_cart table tr.wpspsc_checkout_form{
border-bottom: 0px solid #ddd;
padding-top: 30px;
padding-bottom: 30px;
}

.shopping_cart input.wp_cart_checkout_button{
width: 250px !important;
float:right;
margin-top: 10px;
margin-bottom: 10px;
}

.shopping_cart .wp_cart_item_thumbnail img{
float: left1;
max-width: 75px;
border: 0px solid #DDD;
margin-right: 10px;
box-shadow: 0px 0px 2px #CCC;
margin-left: 2px;
}

.wp_cart_remove_item_form input[type="image"] {
border: none;
width: 18px !important;
}

.wpspsc_coupon_section{
font-variant: small-caps;
text-align: left;
}

.wpspsc_coupon_section form input[name="wpspsc_coupon_code"]{
font-variant:normal;
}

.wpspsc_apply_coupon{
background: #999;
border: 1px solid #999;
border-radius: 5px;
color: white;
padding-left: 12px;
padding-right: 12px;
}

.wpspsc_coupon_label{
display:block;
margin-bottom: 10px;
}


.wpsps_compact_cart {
position: absolute;
top: 10px;
right: 10px;
background: #FFF;
border: 0px solid #DDD;
max-width: 240px;
min-width: 200px;
padding: 10px 7px;
margin: 5px 0;
font-family: 'FeijoaWeb-Medium', serif;
font-size: 0.8em;
font-variant: small-caps;
}

.wpsps_compact_cart_price{
display:none;
}

.wpsps_compact_cart_co_btn{
margin-top:0px;
padding:10px 20px !important;
font-variant: small-caps;
border: 0px solid black;
background: black !important;
color: white !important;
border-radius: 3px;
}

/* article styles */

#custom-page article{
	text-align: left;
    margin-bottom: 50px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 80px;
}


#custom-page article h1.entry-title, #custom-page article h1.entry-title a{
font-family: 'FeijoaWeb-Display', serif;
    font-variant: normal;
    color: black;
    border-bottom: 0;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 1.4em;
    margin-bottom: 15px;
    margin-top: 10px;
}

#custom-page a.datelink{
text-transform: uppercase;
font-variant: normal;
font-weight: normal;
font-size: 0.75em;
letter-spacing: 0.1em;
border-bottom:0px solid;
text-decoration:none;
color: #707070;
}

#custom-page article h1.entry-title a:hover{
text-decoration:underline;
}

#custom-page .post-thumbnail .wp-post-image{
width:100%;
height:auto;
margin-bottom:30px;
}

.morearticles{
margin-bottom: 80px;
padding-bottom: 80px;
}

.morearticles h2{
font-family: 'FeijoaWeb-Display', serif;
}
















